body {
  font-family: sans-serif;
  background-color: lightgray;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  max-width: 800px;
  padding: 30px 40px;
  margin-top: 2rem;
  place-content: center;
}

h1 {
  align-items: center;
  font-weight: bold;
  padding-top: 1.5rem;
  color: lightcoral;
}

h5, h4 {
  font-weight: bold;
  padding-bottom: 1.5rem;
}

h5 {
  margin-top: 1rem;
}

.btn {
  border: none;
  background-color: mediumturquoise;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  height: fit-content;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
}